.git
.gitignore
.gitattributes
.env
.env.*
!.env.example
.next
out
node_modules
*.log
**/__pycache__
**/*.pyc
backend
database
docs
scripts
tests
storage
data/store.json
*.docx
kj.mp4
.figma
.trae
.vscode
